{% if settings.social_show_tw or settings.social_show_go or settings.social_show_pi or settings.social_show_fa or settings.social_show_fb %}
<div class="social">
    <span class="label">{{ settings.text_share }}</span>
    {% if settings.social_show_tw %}
    <div class="socitem twittercont">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
    {% if settings.social_show_go %}
    <div class="socitem plusonecont">
        <g:plusone size="medium" annotation="none"></g:plusone>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    </div>
    {% endif %}
    {% if settings.social_show_pi and template == 'product' %}
    <div class="socitem pinterestcont">
        <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'master' }}&description={{ product.title | escape }}" class="pin-it-button" target="_blank" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
    {% endif %}
    {% if settings.social_show_fa and template == 'product' %}
    <div class="socitem fancycont">
        <a id="FancyButton" data-count="false" href="http://www.thefancy.com/fancyit?ItemURL={{ shop.url }}{{ product.url }}&Title={{ product.title | escape }}&Category={{ product.type | escape }}&ImageURL={{ product.featured_image | product_img_url: 'grande' }}">Fancy</a>
        <script src="https://www.thefancy.com/fancyit.js" type="text/javascript"></script>
    </div>
    {% endif %}
    {% if settings.social_show_fb %}
    <div class="socitem facebookcont">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&status=0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    {% endif %}
</div>
{% endif %}