{% assign social_human_titles = 'Facebook,Twitter,RSS,Pinterest,Google+,Instagram,Vimeo,YouTube,Flickr,Tumblr' | split: ',' %}
{% assign social_keys = 'facebook,twitter,rss,pinterest,google,instagram,vimeo,youtube,flickr,tumblr' | split: ',' %}
<ul class="sociallinks {{ social-icons }} cf">
{% for social_key in social_keys %}
{% assign en_key = 'soc_' | append: social_key | append: '_en' %}
{% if settings[en_key] %}
    {% assign en_key = 'soc_' | append: social_key | append: '_url' %}
    <li class="{{ social_key }}"><a target="_blank" href="{{ settings[en_key] }}" title="{{ social_human_titles[forloop.index0] }}">{{ social_human_titles[forloop.index0] }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% comment %}<!--
Yi3: Social Affiliate Icons for Masonry Theme (Clean Themes UK)
-->{% endcomment %}
{% include 'yi3.social-affiliate-icons' with social-icons %}