{% comment %}<!--
Yi3: Delivery Time Snippet for Masonry Theme
-->{% endcomment %}

    <div class="inputrow">
      <label for="delivery_time">{{ settings.date_picker_time_label }}</label>
    </div>
    <div class="yi3---notice">{{ settings.date_picker_time_message }}</div>