{% comment %}<!--
Yi3: Delivery Location Snippet for Masonry Theme
-->{% endcomment %}

    <div class="inputrow">
      <label for="delivery_location">{{ settings.location_picker_label }}</label>
      <div class="yi3---notice">{{ settings.location_picker_message }}</div>
    </div>