<script>
  var itemClass = '.delivery-by-zip-code',
      deliveryPickup = '{{ settings.location_picker_pickup }}',
      formErrorMessage = '{{ settings.location_picker_error_message }}'
      deliveryItem = {
        'isInCart': {{ delivery_item_in_cart }},
        'id': {{ delivery_item_in_cart_id }}
      },
      deliveryLocationEmptyValue = getDeliveryLocationEmptyValue(),
      deliveryLocation = {
        'value': '{{ cart.attributes.delivery_location }}'
      };

  /*
   * Yi3 THEMES: "HAPPY"
   */

  if (Yi3 === undefined || Yi3.Cart === undefined) {
    var Yi3 = {
      Cart: {
        reloadCart: function () {
          window.location = '/cart';
        }
      }
    }
  }

  /*
   * JQUERY
   */

  jQuery.fn.animateAuto = function(prop, speed, callback){
    var elem = $(),
        height = '',
        width = '',
        ret = $();

    ret = this.each(function(i, el){
      el = jQuery(el),
      elem = el.clone().css({'height':'auto','width':'auto','visibility':'hidden'}).removeAttr('id').appendTo(el.parent());
      height = elem.css('height'),
      width = elem.css('width');
      elem.remove();

      if (prop === 'height') {
        el.animate({'height': height}, speed, callback);
      } else if (prop === 'width') {
        el.animate({'width': width}, speed, callback);  
      } else if (prop === 'both') {
        el.animate({'width': width,'height':height}, speed, callback);
      }
    });

    return ret;
  }

  /*
   * MISCELLANEOUS
   */

  function reloadCartLocation (callback) {
    Yi3.Cart.reloadCart(callback);
  }

  function repairDelivery () {
    var isId = true;

  {% if cart.item_count == 1 and delivery_item_in_cart == true %}

    // Only item in the cart is delivery, so let's unset/remove it.
    console.warn('Only item in cart is delivery. Removing item.');
    unsetDeliveryLocation(function () {
      location.reload();
    });

  {% elsif cart.item_count > 0 %}

    {% comment %}/* Assume no delivery_item_in_cart until we prove otherwise. */{% endcomment %}
    {% assign delivery_item_in_cart = false %}
    {% for item in cart.items %}
      {% if delivery_item_in_cart == false and item.id == id %}
        {% assign delivery_item_in_cart = true %}

          {% comment %}/* Assume delivery items are not in needs_correction state until we prove otherwise. */{% endcomment %}
          {% assign needs_correction = false %}
          {% comment %}/* Sanity check to see if we don't have many of one delivery items in the cart. */{% endcomment %}
          {% if item.quantity > 1 %}
            {% assign needs_correction = true %}

    // Fix quanitity back to one
    console.warn('Delivery item quantity invalid. Reset back to 1.');
    jQuery('#updates_' + deliveryItem.id).val(1);

          {% endif %}
          {% comment %}/* Sanity check to see if the selectbox has been selected. */{% endcomment %}
          {% unless cart.attributes.delivery_location %}

    // Fix values to match cart
    console.warn('Delivery data invalid. Setting to match cart items.');
    setDeliveryLocationSelect(deliveryItem.id, isId);

            {% assign needs_correction = true %}
          {% endunless %}
          {% if needs_correction %}

    // Update form to apply fixes
    jQuery('form[action="/cart"]').get(0).submit();

          {% endif %}

      {% endif %}
    {% endfor %}

    {% if cart.attributes.delivery_location == deliveryLocationEmptyValue and delivery_item_in_cart == false %}

    // No delivery_item_in_cart, but selectbox is set, so unset its attribute
    unsetDeliveryLocationAttribute();

    {% endif %}
  {% endif %}
  }

  /*
   * INITIALIZE
   */

  function iniDeliveryLocation () {
    setDeliveryLocationSelect(deliveryLocation.value);

    $('#delivery_location').chosen({
      allow_single_deselect: true,
      max_selected_options: 1,
      no_results_text: '{% if settings.location_no_results_message %}{{ settings.location_no_results_message }}{% endif %}'
    });

    handleDeliveryItemRemove();
  }

  /*
   * HANDLE
   */

  function handleDeliveryLocation () {
    handleDeliveryLocationChange();
    handleDeliveryLocationChoiceNoneChange();
    handleCartSubmit();
  }

  function handleDeliveryLocationChange () {
    jQuery('[name="attributes\[delivery_location\]"]').on('change', function (event) {
      var $select = jQuery(this),
          $selectOption = $select.find(':selected'),
          $selectRow = $select.closest('.inputrow'),
          id = $selectOption.attr('id'),
          isValidChange = Boolean(id),
          location;

      // Select first populated array value
      if ($select.is('[multiple]')) {
        location = ($select.val()) ? $select.val()[0] : $select.val();
      } else {
        location = $select.val();
      }

      // Routing select change instead of
      // allowing it to happen naturally.
      // Prevents `this.reloadCartSummary`
      // from being `undefined`.
      event.preventDefault();

      if (isValidChange && ! deliveryItem.isInCart) {
        setDeliveryLocationPickupCheckbox(false);
        setDeliveryLocationAttribute(location, function () {
          addDeliveryLocationItem(id);
          Yi3.Cart.unsetError($selectRow);
        });
        Yi3.Cart.unsetError($select.closest('.form'));
      } else if (isValidChange && deliveryItem.isInCart) {
        removeDeliveryLocationItem(deliveryItem.id, function() {
          setDeliveryLocationPickupCheckbox(false);
          setDeliveryLocationAttribute(location, function () {
            addDeliveryLocationItem(id);
            Yi3.Cart.unsetError($selectRow);
          });
        });
        Yi3.Cart.unsetError($select.closest('.form'));
      } else {
        unsetDeliveryLocation();
      }
    });
  }

  function handleDeliveryLocationChoiceNoneChange () {
    jQuery('#delivery_location_choice_none').on('change', function () {
      var $select = jQuery('#delivery_location'),
          $selectRow = $select.closest('.inputrow');

      if (jQuery(this).is(':checked')) {
        unsetDeliveryLocation();
        Yi3.Cart.unsetError($selectRow);
      }
    });
  }

  function handleDeliveryItemRemove () {
    var $item = jQuery('#cartform ' + itemClass),
        $button = $item.find('.remove'),
        $label = $item.find('.quantity label'),
        $input = $item.find('.quantity input');

    $button.remove();
    $label.addClass('is-invisible');  
    $input.addClass('is-invisible');
  }

  function handleCartSubmit () {
    $(document).on('click', '#cartform #update-cart, #cartform #additional-checkout-buttons a, #cartform #additional-checkout-buttons input', function() {
        var $form = $(this).closest('form'),
            $select = $form.find('#delivery_location'),
            $checkbox = $form.find('#delivery_location_choice_none'),
            $selectRow = $select.closest('.inputrow'),
            $checkboxRow = $checkbox.closest('.inputrow');

        if ((deliveryPickup === 'Disabled' || ! $checkbox.is(':checked')) &&
            $form.has('#delivery_location') &&
            ($select.val() == deliveryLocationEmptyValue || $select.val() == null)
        ) {
            window.alert(formErrorMessage);
            Yi3.Cart.setError($selectRow);
            Yi3.Cart.setError($checkboxRow);
            return false;
        }
    });
  }

  /*
   * GET
   */

  function getDeliveryLocation () {
    return jQuery('#delivery_date').val();
  }

  function getDeliveryLocationEmptyValue () {
    var $select = jQuery('#delivery_date'),
        value = ($select.is('[multiple]')) ? [] : '';

    return value;
  }

  function getDeliveryItemLine (id) {
    var el = jQuery(id),
        lineEls = jQuery(id).parents('ul').children(),
        parentLineEl = jQuery(id).parents('li'),
        index = lineEls.index( parentLineEl );

    return index + 1;
  }

  /*
   * SET
   */

  function setDeliveryLocationAttribute (location, callback) {
    Shopify.updateCartAttributes({'delivery_location':location}, callback || reloadCartLocation);
  }

  function setDeliveryLocationSelect (location, isId) {
    var $select = jQuery('[name="attributes\[delivery_location\]"]'),
        $options = jQuery('[name="attributes\[delivery_location\]"] option'),
        $matchOption = $options.filter(function () {
          return ($(this).attr('id') == location);
        });

    if (isId === true) {
      $options.attr('selected', false);
      $options.prop('selected', false);

      $matchOption.attr('selected', true);
      $matchOption.prop('selected', true);
    } else {
      $select.val(location);
    }

    if ($select.chosen) {
      $select.trigger("chosen:updated");
    } else {
      $select.trigger('change');
    }
  }

  function setDeliveryLocationPickupCheckbox (value) {
    var checkbox = jQuery('#delivery_location_choice_none');

    switch (value) {
      case true:
        checkbox.attr('checked', true);
        checkbox.prop('checked', true);
        break;

      case false:
        checkbox.attr('checked', false);
        checkbox.prop('checked', false);
        break;

      default:
        break;
    }
  }

  /*
   * UNSET
   */

  function unsetDeliveryLocation (callback) {

    // The `setTimeout` is for fixing ui that does not
    // update when this method is called during `repairDelivery`.
    setTimeout(function () {
      unsetDeliveryLocationSelect();
    }, 0);
    unsetDeliveryLocationAttribute(function(){
      if (deliveryItem.isInCart) {
        removeDeliveryLocationItem(deliveryItem.id, callback);
      } else {
        if (typeof callback === 'function') {
          callback();
        }
      }
    });
  }

  function unsetDeliveryLocationSelect () {
    var $select = jQuery('[name="attributes\[delivery_location\]"]'),
        $options = jQuery('[name="attributes\[delivery_location\]"] option');

    $options.attr('selected', false);

    if ($select.chosen) {
      $select.trigger("chosen:updated");
    } else {
      $select.trigger('change');
    }
  }

  function unsetDeliveryLocationAttribute (callback) {
    Shopify.updateCartAttributes({'delivery_location':deliveryLocationEmptyValue}, callback || reloadCartLocation);
  }

  /*
   * ADD
   */

  function addDeliveryLocationItem (id, callback) {
    Shopify.addItem(id, 1, function () {
      deliveryItem.isInCart = true;
      deliveryItem.id = id;
      if (typeof callback === 'function') {
        callback();
      } else {
        reloadCartLocation(handleDeliveryItemRemove);
      }
    });
  }

  /*
   * REMOVE
   */

  function removeDeliveryLocationItem (id, callback) {
    Shopify.removeItem(id, function () {
      deliveryItem.isInCart = false;
      deliveryItem.id = 0;
      if (typeof callback === 'function') {
        callback();
      } else {
        reloadCartLocation();
      }
    });
  }

  /*
   * START
   */

  jQuery(function() {
    repairDelivery();
    iniDeliveryLocation();
    handleDeliveryLocation();
  });
</script>