<div class="yi3---notice yi3---notice--{{ module_modifier }}">
    <strong class="yi3---notice__title">{{ settings.date_picker_vacation_message_heading }}</strong>
    <ul class="yi3---notice__list">
        {% if settings.date_picker_vacation_date_start %}
        <li class="yi3---notice__item yi3---notice__item--range-start">
            <span class="yi3---notice__item__text">{{ settings.date_picker_vacation_message_date_start }}</span>
            <kbd class="yi3---notice__item__data">{{ settings.date_picker_vacation_date_start }}</kbd>
        </li>
        {% endif %}
        {% if settings.date_picker_vacation_date_end %}
        <li class="yi3---notice__item yi3---notice__item--range-end">
            <span class="yi3---notice__item__text">{{ settings.date_picker_vacation_message_date_end }}</span>
            <kbd class="yi3---notice__item__data">{{ settings.date_picker_vacation_date_end }}</kbd>
        </li>
        {% endif %}
    </ul>
    {% if settings.date_picker_vacation_message_description %}
    <p class="yi3---notice__description">{{ settings.date_picker_vacation_message_description }}</p>
    {% endif %}
</div>