{% comment %}<!--
Yi3: Checkout Note for Masonry Theme
-->{% endcomment %}

{% unless settings.checkout_note == 'Disabled' %}

<div class="padded divided">
    <div id="checkout-note" class="form yi3---form-optional">
		{% if settings.checkout_note_toggle == 'Enabled' %}
      	<h3><a href="#" id="toggle-note">{{ settings.text_addnote }}</a></h3>
		{% elsif settings.checkout_note_toggle == 'Disabled' %}
      	<h3>{{ settings.text_addnote }}</h3>
		{% endif %}

        <div id="toggle-note-target" class="textarearow">
      	    <!--<label for="note">{{ settings.checkout_note_label }}</label>-->
            <div class="textareawrapper"><textarea id="note" placeholder="{{ settings.checkout_note_label }}" name="note">{{ cart.note }}</textarea></div>
        </div>
        <script>
        /*
         * HANDLE
         */

        function handleNoteAttribute () {
          jQuery('[name="note"]').on('blur', function () {
            var note = jQuery(this).val();

            setNoteAttribute(note);
          });
        }

        /*
         * SET
         */

        function setNoteAttribute (note) {
          Shopify.updateCartNote(note, function(){});
        }

        /*
         * START
         */

        jQuery(function() {
          handleNoteAttribute();
        });
        </script>

        {% comment %}<!-- Yi3: Checkout agreement snippet -->{% endcomment %}
        {% include 'yi3.checkout-agree' %}
    </div>
</div>

{% unless settings.checkout_note_toggle == 'Disabled' %}
<script>
$('#checkout-note').toggleClass('hide-note', $('#note').val().length <= 0);
$(function(){
    $(document).on('click', '#toggle-note', function(){
        $('#checkout-note').toggleClass('hide-note');
        return false;
    });
});
</script>
{% endunless %}

{% endunless %}