<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <!-- Version 1.7.5 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,
                minimum-scale=1.0,
                maximum-scale=1.0,
                initial-scale=1.0,
                user-scalable=no" />
    
    {% if template == 'index' %}
     <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
      <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
     <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}
    
    {% if page_description != '' %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    
    <link rel="canonical" href="{{ canonical_url }}" />
    
    {% comment %} upload your own .ico file to the Assets section {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
    <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
    <link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
    <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#BAD154">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
    <meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
    <meta name="theme-color" content="#ffffff">
    
    {% comment %}
    If you want to set custom icons to use on Apple iOS devices, upload the following files, delete this text, and un-comment these link tags
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'logo_apple_57.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'logo_apple_72.png' | asset_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'logo_apple_114.png' | asset_url }}">
    {% endcomment %}
    
    {% comment %} Open Graph (Facebook) {% endcomment %}
    <meta property="og:site_name" content="{{ shop.name | escape }}" />
    {% if template == 'product' %}
        <meta property="og:image" content="{{ product.featured_image | product_img_url: 'medium' }}" />
        <meta property="og:description" content="{{ productdesc | strip_html | truncatewords:20 | escape }}" />
        <meta property="og:title" content="{{ product.title | escape }} - {{ shop.name | escape }}" />
        <meta property="og:type" content="product" />
        <meta property="og:url" content="{{ shop.url }}{{ product.url }}" />
    {% elsif template contains 'article' %}
        <meta property="og:title" content="{{ article.title | escape }} - {{ shop.name | escape }}" />
        <meta property="og:description" content="{{ article.content | strip_html | truncatewords:20 | escape }}" />
        <meta property="og:url" content="{{ shop.url }}{{ article.url }}" />
        <meta property="og:type" content="article" />
        {% if article.content contains '<img' %}
            {% assign src = article.content | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' %}
            {% if src %}<meta property="og:image" content="{{ src }}" />{% endif %}
        {% elsif settings.use_logo_img %}
            <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
        {% endif %}
    {% else %}
        <meta property="og:type" content="website" />
        {% if settings.use_logo_img %}
            <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
        {% endif %}
        {% if template == 'index' %}
            <meta property="og:url" content="{{ shop.url }}" />
        {% elsif template == 'blog' %}
            <meta property="og:url" content="{{ shop.url }}{{ blog.url }}" />
        {% endif %}
    {% endif %}
    
    {% comment %} Google Fonts {% endcomment %}
    {% for i in (1..3) %}
        {% capture font_setting_index %}{% cycle 'group1': 'font_fam_base', 'font_fam_head', 'font_fam_shoptitle' %}{% endcapture %}
        {% capture font_setting_cust_index %}{{ font_setting_index }}_cust{% endcapture %}
        {% assign font_family_split = settings[font_setting_index] | split: '|' %}
        {% assign curr_font_family = settings[font_setting_index] %}
        {% if settings[font_setting_index] == 'GWF|CUSTOM' %}
        <link href="//fonts.googleapis.com/css?family={{ settings[font_setting_cust_index] | replace: ' ', '+' }}" rel="stylesheet" type="text/css" />
        {% elsif font_family_split.first == 'GWF' %}
        <link href="//fonts.googleapis.com/css?family={{ font_family_split.last | replace: ' ', '+' }}:400,700" rel="stylesheet" type="text/css" />
        {% endif %}
    {% endfor %}
    
    {{ content_for_header }}
    
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'flexslider.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}
    
    {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}
    
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js' | script_tag }}
    {{ 'jquery.masonry.min.js' | asset_url | script_tag }}
    {{ 'jquery.imagesloaded.min.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
    {{ 'jquery.fancybox-1.3.4.pack.js' | asset_url | script_tag }}

{% comment %} Rounded corners and vertically-centred text for all {% endcomment %}
<!--[if lt IE 10]>
{{ 'PIE.js' | asset_url | script_tag }}
<script>
$(function() {
    if (window.PIE) {
        $('.productlabel, .coolbutton, #content .block a.toggler, .sociallinks a, .block').each(function() {
            PIE.attach(this);
        });
    }
});
</script>
<![endif]-->

<!--[if IE 8]>
{{ 'ie8.css' | asset_url | stylesheet_tag }}
<![endif]-->

<!--[if lt IE 8]>
{{ 'ie7.css' | asset_url | stylesheet_tag }}
<![endif]-->

{% comment %} CSS that needs snippets {% endcomment %}
<style type="text/css">
{% unless settings.panel_bg_opacity == '0' or settings.panel_bg_opacity == '1' or settings.panel_bg_opacity == empty %}
    /* Translucent background */
    {% assign hex2rgb_hex = settings.panel_bg_col %}
    {% include 'hex2rgb' %}

    #navbar,
    #mobilefooter {
        background:rgba({{ hex2rgb_r }},{{ hex2rgb_g }},{{ hex2rgb_b }},{{ settings.panel_bg_opacity }});
    }
    #navbar .search input[type=text],
    .footer .registerform input[type=email] {
        background:transparent;
    }
{% endunless %}
</style>
</head>

<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first }}">
    <div id="cart-animation">1</div>
    {% if settings.bg_method contains 'full' %}<div id="ios_scroll"></div>{% endif %}
    {% comment %}<!-- Yi3: Body Head Panel -->{% endcomment %}
    <div id="yi3---bodyhead">
    {% if settings.date_picker_vacation_message == 'Enabled' %}
        {% include 'yi3.vacation-notice', module_modifier: 'inlined' %}
    {% endif %}
    </div>
    <div class="bodywrap cf">
        <div id="navbar">
            <div id="navpanel">
                <div id="shoplogo"><a href="/" title="{{ shop.name }}">
                {% comment %}<!-- Yi3: Add support for subtext to logo -->{% endcomment %}
                {% if settings.yi3___use_logo_subtext %}
                    {% if settings.yi3___logo_subtext_placement == 'abovelogo' %}
                        {% include 'yi3.logo-subtext' %}
                    {% endif %}
                {% endif %}

                {% if settings.use_logo_img %}
                    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
                {% else %}
                    <span class="logotext">{{ shop.name }}</span>
                {% endif %}

                {% comment %}<!-- Yi3: Add support for subtext to logo -->{% endcomment %}
                {% if settings.yi3___use_logo_subtext %}
                    {% if settings.yi3___logo_subtext_placement == 'belowlogo' %}
                        {% include 'yi3.logo-subtext' %}
                    {% endif %}
                {% endif %}
                </a></div>
                
                {% if settings.social_icons_placement == 'underlogo' %}
                {% include 'social-icons' with 'underlogo' %}
                {% endif %}

                {% if cart.item_count > 0 or settings.show_cart_whenempty or shop.customer_accounts_enabled %}
                <div class="cartsummary{% if settings.social_icons_placement == 'underlogo' %} socialabove{% endif %}">
                {% comment %}<!-- Yi3: Wrap cart summary -->{% endcomment %}
                <div class="cartsummary-wrap">
                    {% if cart.item_count > 0 or settings.show_cart_whenempty %}
                    {% comment %}<!-- Yi3: Remove link, Add unique class name -->{% endcomment %}
                    {% comment %}<!--<a href="/{% if template != 'cart' or settings.cart_terms_show %}cart{% else %}checkout{% endif %}">-->{% endcomment %}
                    <span class="cartsummary-data">
                        {% if shop.customer_accounts_enabled %}
                            <span class="inline title">{{ settings.text_cart }} :</span>
                        {% else %}
                            <span class="title">{{ settings.text_cart }}</span>
                        {% endif %}
                        <span class="numitems">{{ cart.item_count }} {{ cart.item_count | pluralize: settings.text_item, settings.text_items }}</span>
                        <span class="amount">{{ cart.total_price | money_with_currency }}</span>
                        {% comment %}<!-- Yi3: Add Class -->{% endcomment %}
                        {% comment %}<!--<span class="account yi3---button-group">-->{% endcomment %}
                        {% comment %}{% if settings.show_tocheckout %}<!--
                            <span class="tocart">{{ settings.text_tocheckout }} &rarr;</span>
                        -->{% endif %}{% endcomment %}
                    </span>
                    {% endif %}
                    {% comment %}<!-- Yi3: Move Cart Summary Account Buttons to Below Cart -->{% endcomment %}
                    {% if shop.customer_accounts_enabled %}
                        {% comment %}<!-- Yi3: Add Class -->{% endcomment %}
                        {% comment %}<!--<span class="account yi3---button-group">-->{% endcomment %}
                        <span class="account yi3---button-group">
                        {% if customer %}
                            {% comment %}<!-- Yi3: Use Button, Remove Pipe, Add Class -->{% endcomment %}
                            {% comment %}<!--<a href="/account">{{ settings.text_youracct }}</a> | {{ settings.text_logout | customer_logout_link }}-->{% endcomment %}
                            <a class="button yi3---button-small" href="/account">{{ settings.text_youracct }}</a>
                            {{ settings.text_logout | customer_logout_link }}
                        {% else %}
                            {{ settings.text_acctlogin | append: ' &rarr;' | customer_login_link }}
                        {% endif %}
                        </span>
                    {% endif %}
                    {% comment %}<!-- Yi3: Move Checkout Button -->{% endcomment %}
                    {% if settings.show_tocheckout %}
                    <span class="yi3---button-group">
                        <a href="/{% if template != 'cart' or settings.cart_terms_show %}cart{% else %}checkout{% endif %}" class="button" id="to_cart_button">{{ settings.text_tocart }}</a>
                    </span>
                    {% endif %}
                {% comment %}<!-- Yi3: Wrap cart summary -->{% endcomment %}
                </div>
                </div>
                {% endif %}
                
                <div class="searchnavwrap panelinputblock">
                    <div class="search panelinputinner">
                        <form action="/search" method="get">
                            <input type="text" class="text" name="q" placeholder="{{ settings.text_search }}"/>
                            <input type="submit" class="coolbutton" value="&rarr;" />
                        </form>
                    </div>
                    
                    <button data-target=".mainnav > ul" data-speed="200" class="btn-opts togglebutton" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                
                <div class="mainnav">
                    {% if settings.panel_nav_show_second_col %}
                        {% capture menu_html_second %}
                            {% include 'main-navigation' with 'footer' %}
                        {% endcapture %}
                        {% assign second_menu_active = any_link_active %}
                    {% else %}
                        {% assign second_menu_active = false %}
                    {% endif %}
                    
                    <ul>
                    {% if settings.panel_nav_show_second_col %}
                        <li class="first{% unless second_menu_active %} active{% endunless %}">
                            <div class="title">
                                <div>{{ linklists.main-menu.title }}</div>
                            </div>
                            {% include 'main-navigation' with 'main-menu' %}
                        </li>
                        
                        <li{% if second_menu_active %} class="active"{% endif %}>
                            <div class="title">
                                {{ linklists.footer.title }}
                            </div>
                            {{ menu_html_second }}
                        </li>
                    {% else %}
                        <li class="first only active">
                            {% include 'main-navigation' with 'main-menu' %}
                        </li>
                    {% endif %}
                    </ul>
                </div>
                
                <div class="footer desktop-only">
                    {% include 'footer' %}
                </div>

                <a href="#" id="navtoggle">&larr;</a>
            </div>
        </div>
        <div id="content">
            {% if template == 'list-collections' %}
                {% include 'collection-listing' %}
            {% else %}
                {{ content_for_layout }}
            {% endif %}
        </div>
    </div>

    <div id="mobilefooter" class="footer mobile-only">
        {% include 'footer' %}
    </div>

    <a id="scrolltotop" href="#navbar">top</a>

{% comment %}<!-- Yi3: Shopify Ajax API & "Happy" Scripts -->{% endcomment %}
{{ 'yi3.jquery.chosen.min.css' | asset_url | stylesheet_tag }}
{{ 'yi3.jquery.chosen.min.js' | asset_url | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
<script>Shopify.onCartUpdate = function (cart) {};</script>
{{ 'yi3.jquery.js' | asset_url | script_tag }}

{% if facebook_on_page %}
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
</body>
</html>